  
  .alerts-container {
    padding: 20px;
    background-color: #fff;
  }

  .generate-container{
    
    background-color: #f4f6f8;
    padding: 20px;
    border-radius: 10px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .generate-container input{
    background-color: #f4f6f8;
    border: none;
    outline: none;
  }

  
  .notification-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100px;
    background-color: #f8f8f9;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }

  
  .notification-input {
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 8px;
    background-color: transparent;
  }
  
  .generate-button {
    align-self: flex-end;
    background-color: #2563eb;
    color: white;
    border: none;
    width: 160px;
    height:40px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    height: 40;
    align-items: end;
  }
  
  .generate-button:hover {
    background-color: #4a43e3;
  }

  /*.alerts-container {
    padding: 20px;
    font-family: 'Segoe UI', sans-serif;
    color: #333;
  }*/

  
  
  .recent-section h2,
  .history-section h2 {
    margin-bottom: 10px;
    color: #111;
  }
  
  .recent-list {
    padding-top: 12px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
    gap: 10px;
  }
  
  .recent-item {
    display: flex;
    align-items: center;
    border: 1px solid #e2e2e2;
    border-radius: 12px;
    padding: 15px;
    background: #f4f6f8;
  }
  
  .recent-item .bell {
    margin-right: 10px;
  }
  
  .recent-item p {
    flex-grow: 1;
    margin: 0;
  }

  .bell-icon {
  font-size: 25px;
  margin-right: 10px;
  vertical-align: middle;
}
.delete-btn svg {
  font-size: 22px;
  color: #EA373A;
  
}

  
  .edit-btn {
    background-color: #fff;
    color: #111;
    border: none;
    padding: 5px 20px;
    margin-right: 5px;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid #ccc;
    margin-right: 30px;
  }
  
  .delete-btn {
    background: none;
    border: none;
    color: red;
    font-size: 16px;
    cursor: pointer;
  }
  
  .history-section {
    margin-top: 40px;
  }
  
  .history-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
  
  .search-input {
    padding: 8px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .history-table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 12px;
    overflow: hidden;
  }
  
  .history-table th,
  .history-table td {
    padding: 12px 16px;
    border-bottom: 1px solid #eee;
    text-align: left;
  }
  
  .sender-cell {
    display: flex;
    align-items: center;
  }
  
  .sender-cell img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 8px;
  }
  
  .status {
    padding: 4px 18px;
    border-radius: 20px;
    font-size: 0.85rem;
    font-weight: 500;
  }

  .status.assigned {
    background-color: #1ce1da1b;
    color: #1CE1DB;
  }
  
  .status.pending {
    background-color: #f0d4021e;
    color: #F0D402;
  }
  
  .status.resolved {
    background-color: #16e11d18;
    color: #16E11D;
  }
  
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  
  .popup {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    min-width: 300px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    text-align: center;
  }

  .popup h3 {
  margin-top: 0;
  font-size: 18px;
  color: #333;
}


  
  .popup input {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
    
  }
  
  .popup-buttons button {
    padding: 8px 12px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .popup-buttons button:first-child {
    background-color: #2563eb;
    color: white;
  }
  
  .popup-buttons button:last-child {
    background-color: #eee;
  }

  .alert-type-dropdown {
  width: 100%;
  padding: 10px 12px;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
  margin-bottom: 20px;
  transition: border 0.3s;
}

.alert-type-dropdown:focus {
  border-color: #2563eb;
  outline: none;
}

.alert-type-dropdown option:checked {
  background-color: #2563eb;
  color: white;
}
  